# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg


.ruff_cache/
__pycache__

.DS_Store
.env
.pytest_cache
.python-version

package
*.zip
.mypy_cache
.coverage
